<h1>Sign Up</h2>
<%if @user.errors.any?%>
    <div id="error_explanation">
    <h2><%=pluralize(@user.errors.count, "error") %>prohibited this <%=@user.name%>to be saved: </h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
        <li> <%=message%></li>
        <% end %>
    </ul>
    </div>
    <% end %>


<%=form_with(model: @user, local: true) do |f|%>
    <%=f.text_field :name, placeholder: "Name"%>
    <%=f.email_field :email, placeholder: "Email"%>
    <%=f.password_field :password, placeholder: "Password" %>
    <%=f.password_field :password_confirmation, placeholder: "Confirm Password"%>

    <div class="image">
        <%= f.label :Avatar %>
        <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
    </div>
        <%=f.submit "Create account"%>
<% end %>