    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= @post.errors.count %>There are errors.</h2>
        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<div class="card">
    <%= form_with(model: @post, local: true, url: confirm_posts_path) do |f|%>
        <div class="mb-3">
            <%= f.text_field :content, placeholder: "What are news???"%></div>
        <div class="mb-3">

        <div class="image">
            <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
            <%= f.file_field :image, placeholder: "Upload an image here" %>
            <%= f.hidden_field :image_cache %>
        </div>

        <div>
            <%=f.submit "Create a post" %>
        </div>
    <% end %>
</div>


<div>
    <% @posts.each do |post| %>
        <div class="card" style="width: 18rem;">
            <%= image_tag post.image.url %>
            <div class="card-body">
                <h5 class="card-title">@<%=@users_name_and_mail[ post.user_id][0] %>  </h5>
                <p class="card-text"><%=post.content%>.</p>
            </div>
            
            <div class="card-body">

            <% unless post.user_id == current_user.id %>
                <% if @favorite.present? %>
                <div class="post__option">
                    <%=link_to favorite_path(id: @favorite.id), method: :delete, data:{ confirm: 'Remove from favorite???'} do %>
                        <span class="material-icons"> thumb_down </span>
                    <% end %>
                </div>
                <% else %>
                <div class="post__option">
                     <%=link_to favorites_path(post_id: post.id), method: :post do %>
                        <span class="material-icons"> thumb_up </span>
                    <% end %>
                </div>
                <% end %>
            <% end %>
            <% if current_user.email == @users_name_and_mail[ post.user_id][1] %> 
                <div class="post__option">
                    <%=link_to edit_post_path(post.id), data:{ confirm: 'Edit this post?'} do %>
                        <span class="material-icons"> edit </span>
                    <% end %>
                </div>

                <div class="post__option">
                    <%=link_to post_path(post.id), method: :delete, data:{ confirm: 'Delete this post?'} do %>
                        <span class="material-icons"> delete </span>
                    <% end %>
                </div>

            <% end %>
            </div>
        </div>
    <% end %>
    <div>
    <%=link_to favorite_path(current_user.id) do %>
        <h3> View my favorites posts </h3>
    <% end %>
</div>
</div>


